@import "tailwindcss";

.stroke {
  text-shadow: -1px -1px 0 #4E4E4E, 1px -1px 0 #4E4E4E, -1px 1px 0 #4E4E4E, 1px 1px 0 #4E4E4E;
}
.inverted-stroke {
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
}


.appear-at-display{
    animation: fade-in 0.5s ease-in-out forwards;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}